@page
@model Tech_Store_WebApp.Pages.OrderPage.OrderModel
@{
    string role = HttpContext.Session.GetString("Role");
    if (!"admin".Equals(role))
    {
        Response.Redirect("/Login");
    }
}

<h1>Orders</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Total Amount</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.User.Fullname</td>
                <td>@order.TotalAmount</td>
                <td>@order.OrderDate?.ToString("g")</td>
                <td>@order.Status</td>
                <td>
                    <a href="/OrderPage/OrderDetails/@order.Id" class="btn btn-info">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        <li class="page-item @(Model.PageIndex != 1 ? "" : "disabled")">
            <a class="page-link" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
        </li>
        <li class="page-item @(Model.PageIndex * 5 < Model.TotalOrder ? "" : "disabled")">
            <a class="page-link" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
        </li>
    </ul>
</nav>
